{include file="index/header" title="宁德师范学院-场地预约系统-后台管理系统" /}
<!-- 头部区域（可配合layui已有的水平导航） -->
<ul class="layui-nav layui-layout-left">
    <li class="layui-nav-item"><a href="{:url('index/index/index')}">网站首页</a></li>
    <li class="layui-nav-item"><a href="{:url('admin/index/index')}">网站信息</a></li>
    <li class="layui-nav-item"><a href="">统计</a></li>
</ul>
<ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item">
        <a href="javascript:;">
            {$name}
        </a>
        <dl class="layui-nav-child">
            <dd><a href="{:url('admin/Userinfo/index')}">安全设置</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="{:url('admin/index/exitadmin')}">退出</a></li>
</ul>
</div>

<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;"><i class='layui-icon'>&#xe715;</i>体育活动场地</a>
                <dl class="layui-nav-child">
                    {volist name="list3" id="id"}
                    <dd><a href="{:url('admin/place/index')}?id={$id.id}">{$id.name}</a></dd>
                    {/volist}
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="" href="{:url('admin/buildings/index')}"><i class='layui-icon'>&#xe715;</i>学生活动场地</a>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;"><i class='layui-icon'>&#xe612;</i>用户管理</a>
                <dl class="layui-nav-child">
                    {volist name="list1" id="id"}
                    <dd><a href="{:url('admin/Usermanage/index')}?id={$id.id}">{$id.name}</a></dd>
                    {/volist}
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;"><i class='layui-icon'>&#xe7a0;</i>文章管理</a>
                <dl class="layui-nav-child">
                    {volist name="list2" id="id"}
                    <dd><a href="{:url('admin/art/index')}?id={$id.id}">{$id.name}</a></dd>
                    {/volist}
                </dl>
            </li>
            <li class="layui-nav-item"><a href=""><i class='layui-icon'>&#xe658;</i>预约信息管理</a></li>
        </ul>
    </div>
</div>

    <div class="layui-body" style="padding-left: 20px;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;">
        <!-- 内容主体区域 -->
        <div class="layui-fluid">
            <div class="layui-row layui-col-space20">
                <div class="layui-col-md6">
                    <div class="layui-collapse">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title"><i class="layui-icon">&#xe614;</i>系统概要</h2>
                            <div class="layui-colla-content layui-show">
                                版本信息：cdyy1.0
                                <hr>
                                开发作者：dean_cj
                                <hr>
                                网站目录：{$Think.APP_PATH}
                                <hr>
                                服务器IP：{$_SERVER['SERVER_ADDR']}
                                <hr>
                                服务器域名：{$_SERVER['SERVER_NAME']}
                                <hr>
                                服务器系统：{$hostos}
                                <hr>
                                服务器环境：{$_SERVER ['SERVER_SOFTWARE']}
                                <hr>
                                数据库版本：{$hostsql}
                                <hr>
                                最大上传限制：{$hostupload}
                                <hr>
                                当前登录用户：{$name}
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-collapse">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title"><i class="layui-icon">&#xe658;</i>网站流量</h2>
                            <div class="layui-colla-content layui-show">
                                ip
                                <hr>
                                pv
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space20">
                <div class="layui-col-md6">
                    <div class="layui-collapse">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title"><i class="layui-icon">&#xe612;</i>用户概要</h2>
                            <div class="layui-colla-content layui-show">
                                {volist name="list1" id="id"}
                                {$id.name}：{$id.count}
                                <hr>
                                {/volist}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-collapse">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title"><i class="layui-icon">&#xe622;</i>文章概要</h2>
                            <div class="layui-colla-content layui-show">
                                {volist name="list2" id="id"}
                                {$id.name}：{$id.count}
                                <hr>
                                {/volist}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">杜甫</h2>
                <div class="layui-colla-content layui-show">内容区域</div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">李清照</h2>
                <div class="layui-colla-content layui-show">内容区域</div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">鲁迅</h2>
                <div class="layui-colla-content layui-show">内容区域</div>
            </div>
        </div>-->
    </div>
    <script src="/static/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer
                    , form = layui.form;
            layer.msg('登录成功！');
        });
    </script>
    {include file="index/footer" /}