<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>登录-宁德师范学院-场地预约管理系统</title>
        <link rel="stylesheet" href="/static/layui/css/layui.css"  media="all">
    </head>
    <body>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <div class="layui-container">
            <div class="layui-row" style="height: 97px">
                <div class="layui-col-md3">
                    <img src="/static/login/logo.png" style="margin-top: 20px;">
                </div>
            </div>
        </div>
        <div class="layui-bg-blue" style="height:3px; min-width:1024px"></div>
        <div style="background-image: url(/static/login/bg.jpg); min-width:1024px;height: 550px">
            <div style="height:100px">
            </div>
            <div style="margin-left: 65%; background-color: #F0F0F0; margin-right: 50px; height: 300px;width: 350px">
                <h2 style="padding-top: 30px;padding-left: 22px;padding-bottom: 20px;">用户登录</h2>
                <form class="layui-form layui-form-pane" action="" style="padding-left: 20px; padding-right: 20px;">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" required lay-verify="required" placeholder="请输入用户名或邮箱" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div>
                            <button class="layui-btn layui-btn-danger layui-btn-fluid" lay-submit lay-filter="loginnow" >立即登录</button>
                        </div>
                    </div>
                    <div style="padding-left: 55%;padding-top: 25px;">
                        <a href="">忘记密码</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">注册用户</a>
                    </div>
                </form>
            </div>
            <div style="height:80px">
            </div>
        </div>
        <div class="layui-footer">
                <!-- 底部固定区域 -->
                © ndsy.cn - 宁德师范学院 - 场地预约管理系统
        </div>


        <script src="/static/layui/layui.js"></script>
        <script>
            //一般直接写在一个js文件中
            layui.use(['layer', 'form', 'element'], function () {
                var element = layui.element;
                var layer = layui.layer
                        , form = layui.form;
            });
        </script> 
    </body>
</html>